# Gradle
.gradle/
local.properties
/.idea/gradle.xml
/.idea/libraries/

# Android Studio
.idea/
*.iml
/.idea/caches/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build
/build/
/app/build/
/captures/
/.externalNativeBuild/
/.cxx/

# macOS
.DS_Store

# Others
*.keystore
